body {
    margin: 0 auto; 
}

#masthead {
    background-image: url(../images/fon_top.png);
    background-color: #2c2f49;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    padding-top: 10px;
    height: 750px;
}


#logo {
    width: 290px;
    height: 40px;
    float: left;
    padding-left: 80px;
}

#nav 
    list-style-type: none;
    text-align: center;
}
    
#nav a {
    color: #bfbfbf;
    text-decoration: none;
    padding: 5px 10px;
}

#nav li {
    display: inline;
}

#railing {
    background: #505369;
    height: 1px;
    width: 980px;
    float: left;
    margin: 5px 132px;
}